@keyframes menuUnwrap {
    from {display: none;}
    to {display: flex;}
}


body{
    margin: 0;
    width: 100%;
    position: relative;
}
.wrapper{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    
}
.instagram-logo{
    width: 20px;
    height: 20px;
    float: left;
}
.logo{
    width: 128px;
    height: 50px;
}
.menu-button-wrapper{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.menu-button{
    width: 20px;
    height: 20px;

    display: flex;
}

nav{
    display: none;
    
}


ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
li{
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-collapse: collapse;
}
li a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: large;
}
li:last-child{
    border-bottom: 2px black solid;

}
