.welcome-section{
    display: none;
}
#welcome-section-book-now{
    display: none;
}
.carousel-container{
    width: 265px;
    height: 287px;
    margin: auto;
    overflow: hidden;
    position: relative;
    
    
}
.carousel-slide{
    display: flex;
    width: 100%;
    height: 287px;
    
}
img{
    width: 265px;
    height: 287px;
}
.carousel-slide-element{
    min-width: 265px;
    min-height: 287px;
    width: 265px;
    height: 265px;
}

#prevBtn{
    position: absolute;
    top:50%;
    left: 0;
    z-index: 10;
    font-size:20px;
    opacity: 0.5;
    color: white;
    cursor: pointer;
}
#nextBtn{
    position: absolute;
    top:50%;
    right: 0;
    z-index: 10;
    font-size:20px;
    opacity: 0.5;
    color: white;
    cursor: pointer;
}